name: Publish

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write
  deployments: write
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - name: Collect Workflow Telemetry
        uses: runforesight/workflow-telemetry-action@v2
        with:
          comment_on_pr: false

      - uses: actions/checkout@v4

      - run: make artifact

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        if: ${{ github.ref_name == 'main' }}
        with:
          path: "./dist"

      - name: Deploy to GitHub Pages
        id: deployment
        if: ${{ github.ref_name == 'main' }}
        uses: actions/deploy-pages@v4
